    <div class="form-group">
        <label for="exampleInputEmail1">Фамилия</label>
        <input type="text" class="form-control" id="orgName"  placeholder="Фамилия" value="{{state.getInputsForCurrentBookmark(formType)[0]}}" (paste)="inputForm($event, 0 )" (input)="inputForm($event,0)">
    </div>
    <div class="form-group">
        <label for="address">Имя</label>
        <input type="text" class="form-control" id="address" placeholder="Имя" value="{{state.getInputsForCurrentBookmark(formType)[1]}}" (paste)="inputForm($event, 1 )" (input)="inputForm($event,1)">
    </div>
    <div class="form-group">
      <label for="legalAddress">Отчество</label>
      <input type="text" class="form-control" id="legalAddress" placeholder="Отчество" value="{{state.getInputsForCurrentBookmark(formType)[2]}}" (paste)="inputForm($event, 2 )" (input)="inputForm($event,2)">
    </div>
    <div class="form-group"  *ngIf="state.getCurrentBookmark()?.table != 'ORGANIZATION'; then positionInput"></div>

    <ng-template #positionInput>
        <label for="legalAddress">Должность</label>
        <input type="text" class="form-control" id="legalAddress" placeholder="Должность" value="{{state.getInputsForCurrentBookmark(formType)[3]}}" (paste)="inputForm($event, 3 )" (input)="inputForm($event,3)">

    </ng-template>