    <div class="form-group">
        <label for="exampleInputEmail1">Фамилия</label>
        <input type="text" class="form-control" id="orgName"  placeholder="Фамилия" value="{{state.getInputsForCurrentBookmark(formType)[0] }}" (paste)="inputForm($event, 0 )" (input)="inputForm($event,0)">
    </div>
    <div class="form-group">
        <label for="address">Имя</label>
        <input type="text" class="form-control" placeholder="Имя" value="{{state.getInputsForCurrentBookmark(formType)[1] }}" (paste)="inputForm($event, 1 )" (input)="inputForm($event,1)">
    </div>
    <div class="form-group">
      <label for="legalAddress">Отчество</label>
      <input type="text" class="form-control"  placeholder="Отчество" value="{{state.getInputsForCurrentBookmark(formType)[2]  }}" (paste)="inputForm($event, 2 )" (input)="inputForm($event,2)">
    </div>
    <div class="form-group"  *ngIf="state.getCurrentBookmark()?.table == 'EMPLOYEE'; then positionInput"></div>

    <ng-template #positionInput>
        <label for="legalAddress">Должность</label>
        <select class="form-select" aria-label="Default select example"  (change)="inputForm($event, 3)" >>
            <option   *ngFor="let pos of positions"   value="{{pos.id}}">{{pos.name}}</option>
          </select>

          <select class="form-select" aria-label="Default select example"  (change)="inputForm($event, 4)" >>
            <option   *ngFor="let subdiv of subdivisions"   value="{{subdiv.id}}">{{subdiv.name}}</option>
          </select>   
    </ng-template>