.item{
    width: 40%;
    font-size: large;
    font-weight: 600;
    margin-left: 1.5vh;
    margin-top: 1.5vh;
    border-bottom: 1px solid black;
    text-align: center;
    cursor: pointer;
 }

 .child{
     margin-left: 5vh;

 }